<div class="row page-header">
	<h1>{{borrower.name}}</h1>
	<p><strong>{{borrower.address}}</strong> &nbsp; {{borrower.category}}</p>
</div>

<div class="row">
	<div class="col-xs-12 col-md-9">
		<div class="row">
			<p>{{borrower.longDescription}}</p>
			<h2>More Information </h2>
			<h4>More information about this loan</h4>
			<p>{{borrower.moreInfo}}</p>
			<h4>About SEF International</h4>
			<p>{{borrower.aboutFunder}}</p>
		</div>
	</div>
</div>

